flows.json
[
    {
        "id": "8381c865.236028",
        "type": "subflow",
        "name": "Single value",
        "info": "The 'single value' subflow allows to extract data from processing node.\r\n\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on : [Node-Red](https://nodered.org/docs/user-guide/editor/workspace/subflows)\r\n\r\n\r\n-------\r\n\r\n",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "3c5ffe0d.9063b2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 140,
                "wires": [
                    {
                        "id": "66397fd3.d8111",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "varfilter",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-filter",
                    "label": {
                        "en-US": "Variable"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#3CB4E6"
    },
    {
        "id": "3c5ffe0d.9063b2",
        "type": "switch",
        "z": "8381c865.236028",
        "name": "filter variable",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "varfilter",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "4e5ba7a5.14dec8"
            ]
        ]
    },
    {
        "id": "4e5ba7a5.14dec8",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only table of duplets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.variabledata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "42bc6ed.5b20d9"
            ]
        ]
    },
    {
        "id": "42bc6ed.5b20d9",
        "type": "split",
        "z": "8381c865.236028",
        "name": "Split a table[1..n] of duplets in n msg of single duplet",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 800,
        "y": 60,
        "wires": [
            [
                "8b8ddb84.6fb208"
            ]
        ]
    },
    {
        "id": "8b8ddb84.6fb208",
        "type": "delay",
        "z": "8381c865.236028",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "66397fd3.d8111"
            ]
        ]
    },
    {
        "id": "66397fd3.d8111",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only value and delete timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "ModuleGroup10_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "e3601b8a.b016b8",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "e3601b8a.b016b8",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "a7c3e070.5a6c"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "accesspoint": 0,
        "execonfig": "1965eb19.a0a9b5",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "EncoderPos_Ref",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1622607543468,
        "openStatus": true,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "6013fb0b.5b7504",
                "bba6c992.f25498"
            ]
        ]
    },
    {
        "id": "fc00295e.79ada8",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ]
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [
            {
                "index": "9",
                "formula": "EncoderPos /3072.0 *360.0",
                "name": "EncoderPos_inDeg"
            },
            {
                "index": "10",
                "formula": "abs(EncoderVel *60.0 /3072.0)",
                "name": "EncoderVel_inDeg"
            }
        ],
        "statistics": [],
        "logmode": "no",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "1ebbb430.dac7dc",
                "c163ee1e.64e7c",
                "3aa28d2c.400692"
            ],
            []
        ]
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "myChart",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "bba6c992.f25498",
        "type": "ui_write",
        "z": "7b9ed63e.2138f8",
        "group": "ff523af0.fd7da8",
        "name": "",
        "order": 2,
        "width": 6,
        "height": 8,
        "x": 550,
        "y": 80,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "c163ee1e.64e7c",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "EncoderPos",
        "env": [
            {
                "name": "varfilter",
                "value": "EncoderPos_inDeg",
                "type": "str"
            }
        ],
        "x": 590,
        "y": 240,
        "wires": [
            [
                "dcdfc4be.a54648"
            ]
        ]
    },
    {
        "id": "dcdfc4be.a54648",
        "type": "ui_gauge",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "ff523af0.fd7da8",
        "order": 1,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "Current Position",
        "label": "deg.",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00a7d1",
            "#00a7d1",
            "#00a7d1"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "7eff6f10.014af",
        "type": "ui_gauge",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "ff523af0.fd7da8",
        "order": 3,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Current Velocity",
        "label": "rpm",
        "format": "{{value | number:2}}",
        "min": "0",
        "max": "40",
        "colors": [
            "#69e28d",
            "#eee459",
            "#f49657"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "3aa28d2c.400692",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "EncoderVel",
        "env": [
            {
                "name": "varfilter",
                "value": "EncoderVel_inDeg",
                "type": "str"
            }
        ],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "7eff6f10.014af"
            ]
        ]
    },
    {
        "id": "e3601b8a.b016b8",
        "type": "probe",
        "probeid": "066EFF535155878281151520",
        "probename": "ST-Link v2-1B (...51520)",
        "protocol": "SWD",
        "frequency": "4.6 MHz",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J37",
        "connectionType": "p2p"
    },
    {
        "id": "1965eb19.a0a9b5",
        "type": "exe-config",
        "name": "ModuleGroup10variables",
        "exefile": "C:\\Users\\MINH\\Documents\\GitHub\\FRA262_Module_PID_Control\\New folder\\Debug\\FRA262_ModuleGroup10.elf",
        "exefolder": "C:\\Users\\MINH\\Documents\\GitHub\\FRA262_Module_PID_Control\\New folder\\Debug",
        "exevariablelist": [
            {
                "address": "0x08004918",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08004928",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x2000003c",
                "name": "CurrentState",
                "type": 2
            },
            {
                "address": "0x200000b8",
                "name": "DeadTime",
                "type": 5
            },
            {
                "address": "0x20000058",
                "name": "EncoderPos",
                "type": 6,
                "checked": true
            },
            {
                "address": "0x2000005c",
                "name": "EncoderPos_Avg",
                "type": 9
            },
            {
                "address": "0x20000078",
                "name": "EncoderPos_Error",
                "type": 9
            },
            {
                "address": "0x20000080",
                "name": "EncoderPos_ErrorPrev",
                "type": 9
            },
            {
                "address": "0x2000007c",
                "name": "EncoderPos_ErrorSum",
                "type": 9
            },
            {
                "address": "0x2000006c",
                "name": "EncoderPos_Ref",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000074",
                "name": "EncoderPos_Ref_Final",
                "type": 6,
                "checked": false
            },
            {
                "address": "0x20000070",
                "name": "EncoderPos_Ref_Init",
                "type": 6,
                "checked": false
            },
            {
                "address": "0x20000088",
                "name": "EncoderPosition[0]",
                "type": 5
            },
            {
                "address": "0x20000060",
                "name": "EncoderVel",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000084",
                "name": "EncoderVel_Ref",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000148",
                "name": "htim1.Channel",
                "type": 2
            },
            {
                "address": "0x2000016e",
                "name": "htim1.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x2000016a",
                "name": "htim1.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000172",
                "name": "htim1.DMABurstState",
                "type": 2
            },
            {
                "address": "0x2000014c",
                "name": "htim1.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000144",
                "name": "htim1.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x2000013c",
                "name": "htim1.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000134",
                "name": "htim1.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000138",
                "name": "htim1.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000130",
                "name": "htim1.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000140",
                "name": "htim1.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x2000012c",
                "name": "htim1.Instance",
                "type": 5
            },
            {
                "address": "0x20000168",
                "name": "htim1.Lock",
                "type": 2
            },
            {
                "address": "0x20000169",
                "name": "htim1.State",
                "type": 2
            },
            {
                "address": "0x20000190",
                "name": "htim2.Channel",
                "type": 2
            },
            {
                "address": "0x200001b6",
                "name": "htim2.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200001b2",
                "name": "htim2.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x200001ba",
                "name": "htim2.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000194",
                "name": "htim2.hdma[0]",
                "type": 5
            },
            {
                "address": "0x2000018c",
                "name": "htim2.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000184",
                "name": "htim2.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x2000017c",
                "name": "htim2.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000180",
                "name": "htim2.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000178",
                "name": "htim2.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000188",
                "name": "htim2.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000174",
                "name": "htim2.Instance",
                "type": 5
            },
            {
                "address": "0x200001b0",
                "name": "htim2.Lock",
                "type": 2
            },
            {
                "address": "0x200001b1",
                "name": "htim2.State",
                "type": 2
            },
            {
                "address": "0x20000100",
                "name": "htim4.Channel",
                "type": 2
            },
            {
                "address": "0x20000126",
                "name": "htim4.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000122",
                "name": "htim4.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x2000012a",
                "name": "htim4.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000104",
                "name": "htim4.hdma[0]",
                "type": 5
            },
            {
                "address": "0x200000fc",
                "name": "htim4.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x200000f4",
                "name": "htim4.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x200000ec",
                "name": "htim4.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x200000f0",
                "name": "htim4.Init.Period",
                "type": 5
            },
            {
                "address": "0x200000e8",
                "name": "htim4.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200000f8",
                "name": "htim4.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x200000e4",
                "name": "htim4.Instance",
                "type": 5
            },
            {
                "address": "0x20000120",
                "name": "htim4.Lock",
                "type": 2
            },
            {
                "address": "0x20000121",
                "name": "htim4.State",
                "type": 2
            },
            {
                "address": "0x200001fc",
                "name": "huart2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200001f9",
                "name": "huart2.gState",
                "type": 2
            },
            {
                "address": "0x200001f4",
                "name": "huart2.hdmarx",
                "type": 5
            },
            {
                "address": "0x200001f0",
                "name": "huart2.hdmatx",
                "type": 5
            },
            {
                "address": "0x200001c0",
                "name": "huart2.Init.BaudRate",
                "type": 5
            },
            {
                "address": "0x200001d4",
                "name": "huart2.Init.HwFlowCtl",
                "type": 5
            },
            {
                "address": "0x200001d0",
                "name": "huart2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200001d8",
                "name": "huart2.Init.OverSampling",
                "type": 5
            },
            {
                "address": "0x200001cc",
                "name": "huart2.Init.Parity",
                "type": 5
            },
            {
                "address": "0x200001c8",
                "name": "huart2.Init.StopBits",
                "type": 5
            },
            {
                "address": "0x200001c4",
                "name": "huart2.Init.WordLength",
                "type": 5
            },
            {
                "address": "0x200001bc",
                "name": "huart2.Instance",
                "type": 5
            },
            {
                "address": "0x200001f8",
                "name": "huart2.Lock",
                "type": 2
            },
            {
                "address": "0x200001e4",
                "name": "huart2.pRxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001dc",
                "name": "huart2.pTxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001ec",
                "name": "huart2.ReceptionType",
                "type": 5
            },
            {
                "address": "0x200001fa",
                "name": "huart2.RxState",
                "type": 2
            },
            {
                "address": "0x200001ea",
                "name": "huart2.RxXferCount",
                "type": 3
            },
            {
                "address": "0x200001e8",
                "name": "huart2.RxXferSize",
                "type": 3
            },
            {
                "address": "0x200001e2",
                "name": "huart2.TxXferCount",
                "type": 3
            },
            {
                "address": "0x200001e0",
                "name": "huart2.TxXferSize",
                "type": 3
            },
            {
                "address": "0x20000008",
                "name": "Kd",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000004",
                "name": "Ki",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000000",
                "name": "Kp",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000090",
                "name": "LoopCount",
                "type": 2
            },
            {
                "address": "0x20000040",
                "name": "PWMVel",
                "type": 9
            },
            {
                "address": "0x20000010",
                "name": "SampleTime",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x20000064",
                "name": "setPosition[0]",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000014",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x20000200",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x2000001c",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000018",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x2000000c",
                "name": "Vmax",
                "type": 9,
                "checked": false
            }
        ],
        "expand": false,
        "filename": "FRA262_ModuleGroup10.elf",
        "exeModifiedTime": 1622607490080,
        "configLastUpdate": 1622607543005
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "ff523af0.fd7da8",
        "type": "ui_group",
        "name": "Setting",
        "tab": "17d09b07.741a55",
        "order": 2,
        "disp": true,
        "width": 11,
        "collapse": false
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]